# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Others
*.pyc
